<section :class="backdropClasses">
  <div class="rounded-full loader animate-spin rounded-full border-4 border-t-4 border-white border-t-pink-atlas h-12 w-12 mb-4"></div>
  <slot name="default" />
</section>
