:deep() .flex-row-reverse {
  flex-direction: row !important;
}

.height-1-4 {
  height: 26vh;
}

.height-md-100 {
  @media (min-width: 768px) {
    height: 100vh;
  }
}

:deep() .list-group {
  margin-top: 20px;
  margin-bottom: 30px;
}

.navigation {
  overflow: hidden;

  @media (min-width: 768px) {
    overflow: scroll;
  }
}

.position-md-fixed {
  @media (min-width: 768px) {
  }
}
