<section class="flex bg-gray-50 p-2 md:h-screen md:overflow-hidden md:p-4 relative">
  <section :class="dataFlowListClass"
           class="absolute md:static top-0 left-0 bg-blue-atlas-dark h-screen overflow-hidden
                  md:transform-none transition-transform w-full z-10 md:h-100 md:m-2 md:rounded-xl md:w-3/12 md:max-w-md"
  >
    <data-flow-list v-model="selectedDataFlow" :loading="isLoadingFilters" />
  </section>
  <section class="bg-white flex flex-col h-100 rounded-xl w-full md:m-2">
    <header
      class="border-b border-gray-100 grid grid-cols-5 items-center mb-6 py-7 px-6 text-blue-atlas-light text-sm uppercase"
    >
      <document-search class="text-pink-atlas h-6 w-6 md:hidden" @click="openDrawer" />
      <h1 class="col-span-3 text-center md:col-span-5 md:text-left">Atlas SDMX
        <span class="text-pink-atlas">(<a
          href="https://about.gitlab.com/handbook/values/#low-level-of-shame" target="_blank"
        >alpha</a>)</span>
        <span class="hidden md:inline"> – un'applicazione per esplorare i dati dei servizi basati su
          <a class="text-pink-atlas" href="https://sdmx.org/" target="_blank">SDMX</a>
        </span>
      </h1>
    </header>
    <main v-if="selectedDataFlowName" class="px-6">
      <section>
        <header class="mb-6 pb-1 pt-2 text-sm uppercase">
          <span class="text-blue-atlas-light">Esplora il dataflow: </span>
          <h3 class="mt-3 inline font-light">{{ selectedDataFlowName }}</h3>
        </header>
        <ul v-if="hasFilters" class="grid grid-cols-1 gap-3 mt-3 md:grid-cols-4">
          <li v-for="filter in availableFilters" :key="filter.id" class="mb-4 max-w-md">
            <dimension-filter v-bind="filter" @update="setFilter" />
          </li>
        </ul>
      </section>
      <section class="mt-10" v-if="selectedDataFlow.id">
        <header class="mb-9 pb-1 pt-2">
          <h3 class="text-blue-atlas-light text-sm uppercase">Azioni</h3>
        </header>
        <div class="grid grid-cols-1 gap-3 text-gray-400 md:grid-cols-4 hover:text-blue-atlas">
          <u-i-button class="hidden md:block" label="Scarica il CSV" :href="urlForDataDownload" />
          <u-i-button label="Copia l'URL del CSV" @click="copyText" />
          <input id="urlForDataDownload" :ref="urlForDataRef" type="text" :value="urlForDataDownload" class="hidden">
        </div>
      </section>
    </main>
    <footer
      class="border-t border-gray-100 mt-auto py-7 px-6 text-blue-atlas-light text-center md:text-left text-sm uppercase"
    >
      <h2>Un progetto di
        <a class="text-pink-atlas" href="https://atlas-sicilia.it" target="_blank">Atlas Sicilia</a>,
        ispirato da <a class="text-pink-atlas" href="https://ondata.github.io/guida-api-istat/" target="_blank"
        >OnData</a>.
      </h2>
      <span>Hai trovato un bug? Vuoi suggerire un miglioramento? Fallo
        <a class="text-pink-atlas"
           href="https://gitlab.com/atlas-italia/atlas-sdmx/-/issues/new"
           target="_blank"
        >qui</a></span>
    </footer>
  </section>
  <section class="absolute flex justify-center opacity-80 text-white w-full">
    <div v-if="notificationText"
         class="bg-pink-atlas border-pink-900 font-light border-2 absolute h-16 p-4 pt-5 pr-9 rounded-lg w-96"
    >{{ notificationText }}
    </div>
  </section>
  <u-i-loader v-if="isLoadingFilters">
    <p class="font-light -mt-8 p-8 text-center text-white">Il dataflow è in caricamento. In base alla quanità dei dati
      l'attesa potrebbe essere lunga.</p>
  </u-i-loader>
</section>
