<section class="pt-8">
  <div class="text-center text-white mb-8 md:hidden">Atlas SDMX
    <span class="text-pink-atlas">(<a
      href="https://about.gitlab.com/handbook/values/#low-level-of-shame" target="_blank"
    >alpha</a>)</span>
  </div>
  <div class="px-6">
    <input v-model="dataFlowSearchTerm"
           class="border-2 font-light h-12 p-4 placeholder-gray-300 rounded-lg w-full
                  focus:outline-none focus:border-pink-atlas focus:placeholder-gray-200"
           placeholder="Filtra i dataflow"
           type="search"
    >
  </div>
  <header class="mb-6 mt-10 px-6 text-blue-atlas-light uppercase">
    <h2 class="text-sm">{{ title }}</h2>
  </header>
  <ul class="h-screen overflow-scroll" :class="dataFlowListClasses">
    <li v-for="dataFlow in list" :key="dataFlow.id">
      <data-flow-list-item :data-flow="dataFlow" :selected="isCurrentDataFlow(dataFlow)" @update="selectDataFlow"
      />
    </li>
  </ul>
</section>
