<script lang="ts" src="./SmdXplorer/index.ts" />
<template src="./SmdXplorer/index.html" />
<style lang="scss" src="./SmdXplorer/global.scss" />
<style lang="scss" scoped src="./SmdXplorer/index.scss" />
