<script>
export default {
  name: "UIArrow"
};
</script>
<template>
  <svg height="8px" viewBox="0 0 13 8" width="13px" xmlns="http://www.w3.org/2000/svg">
    <g id="Symbols" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
      <g id="dropdown" fill="#D8D8D8" fill-rule="nonzero" transform="translate(-322.000000, -22.000000)">
        <path
          id="Path"
          d="M332.089246,26.4663437 L326.748738,31.8068248 C326.491171,32.0643917 326.07359,32.0643917 325.81605,31.8068248 L325.193169,31.1839432 C324.936042,30.9268159 324.935547,30.5100868 325.19207,30.252355 L329.424516,25.9999863 L325.19207,21.747645 C324.935547,21.4899132 324.936042,21.0731841 325.193169,20.8160568 L325.81605,20.1931752 C326.073617,19.9356083 326.491198,19.9356083 326.748738,20.1931752 L332.089219,25.5336563 C332.346786,25.7911957 332.346786,26.2087768 332.089246,26.4663437 Z"
          transform="translate(328.641199, 26.000000) rotate(-270.000000) translate(-328.641199, -26.000000) "
        ></path>
      </g>
    </g>
  </svg>
</template>
