<div v-click-outside="closeList" class="flex flex-col font-light relative select-none">
  <div class="mb-1 h-6 text-dm truncate">{{ localizedName }}</div>
  <div :class="dropdownClass" class="border-2 h-12 p-4 pt-3 pr-9 relative rounded-lg hover:border-pink-atlas"
       @click="openList"
  >
    <span class="block h-6 truncate" :class="currentSelectionClass">{{ currentSelectionValue }}</span>
    <u-i-arrow class="absolute top-1/2 -mt-0.5 right-4" />
  </div>
  <div v-if="isOpen" :class="dropdownClass"
       class="absolute bg-white border-2 flex flex-col max-h-80 py-2 rounded-lg top-20 min-w-full z-10"
  >
    <div class="px-4">
      <input
        v-if="shouldShowSearch"
        v-model="optionSearchTerm"
        :ref="searchRef"
        class="border-2 font-light h-12 mt-4 mb-2 p-4 placeholder-gray-300 rounded-lg w-full focus:placeholder-gray-200 focus:outline-none focus:border-pink-atlas"
        placeholder="Filtra i valori"
        type="search"
      >
    </div>
    <ul class="overflow-y-auto flex-grow">
      <li v-for="opt in filteredOptions" :key="opt.id" :class="getOptionClass(opt.id)"
          class="px-5 py-3 hover:bg-gray-100"
          @click="selectOption(opt)"
      >
        {{ opt.localizedName }}
      </li>
    </ul>
    <div v-if="!filteredOptions.length" class="-mb-2 py-4 px-5 text-gray-400">Valore non presente</div>
    <div v-else-if="optionSearchTerm" class="border-t-2 border-gray-50 -mb-2 p-4 px-5 text-gray-400"> Mostrati:
      {{ filteredOptions.length }}/{{ options.length }}
    </div>
  </div>
</div>
